# --- Geral ---
__pycache__
__pycache__/
*.py[cod]
*$py.class

# --- Ambientes Virtuais ---
venv/
env/
.venv/
.env

# --- Distribuição e Builds ---
build/
dist/
*.egg-info/

# --- Editores ---
.vscode/
.idea/
*.swp

# --- Variáveis de Ambiente e KEYS ---
.env
.env.local
secrets.py
keys.txt

# --- Memória da Assistente ---
memoria.json
memoria_lola.json
memoria_longo_prazo.json
*.db
chroma_db/

# --- Interface Gráfica ---
flet_app/
build/flutter_assets/

# --- Logs e Arquivos de Erro ---
*.log
